* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button{
    background-color: rgb(81, 245, 6);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px 10px 150px;
    cursor: pointer;
    border-radius: 16px;
    width: 150px;
}
.form-registro {
    width: 400px;
    height: 400px;
    margin: 10px;
    background: #faf6f6ea;
    text-align: left;
    border-radius: 20px;
    padding-left: 30px;

}

.form-logo {
    width: 600px;
    height: 500px;
    margin: 10px;
    background: #faf6f6ea;
}

h2 {
    background: #0bac05;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 30px;
    height: 50px;
    text-align: left;
    padding-top: 5px;
    padding-left:30px ;
  
}

h3 {
    background: #0efd06;
    text-align: center;
    font-size: 30px;
    height: 40px;
    padding-top: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin:  0px 0px 10px -30px;
}

footer {
    background: #0a8b05;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 30px;
}
input[name="correo"] {
    background-color: #949597;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 1em;
    border: none;
    padding: 0 16px;
    width: 200px;
    height: 20px;
}
input[name="contrasena"] {
    background-color: #949597;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 1em;
    border: none;
    padding: 0 16px;
    width: 200px;
    height: 20px;
}
input[name="numero_de_documento"] {
    background-color: #949597;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 1em;
    border: none;
    padding: 0 16px;
    width: 200px;
    height: 20px;
}
.control {
    background-color: #949597;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 1em;
    border: none;
    padding: 0 16px;
    width: 200px;
    width: 58%;
    height: 20px;
}
Shell
     /************************
        HEADER
      ************************/

      .page-header{
        overflow: hidden;
        background: #444;
        padding: 1em 0 0 ;
      }

      .page-header .center-contents{
        max-width: 650px;
        margin:auto;
        overflow: hidden;
      }

      .logo{
        max-width: 60px;
        display: block;
        float: left;
        margin: 0 0 1em 1em;
      }

      .logo img{
        display: block;
      }

      .page-nav{
        color: #fff;
        float:right;
      }

      .page-nav ul, .page-nav li{
        list-style:none;
        margin:0;
        padding: 0;
        float: left;
      }

      .page-nav a{
        color: #fff;
        width: 100%;
        height: auto;
        display: block;
        padding: 0.75em 1em;
        text-decoration: none;
        cursor: pointer;
      }


      /************************
        MAIN CONTENTS
      ************************/

      .page-contents{
        padding:0 1em;
        max-width: 650px;
        margin:auto;
      }
     /************************
        HEADER
      ************************/
 
      .page-header{
        overflow: hidden;
        background: #444;
        padding: 1em 0 0 ;
      }
 
      .page-header .center-contents{
        max-width: 650px;
        margin:auto;
        overflow: hidden;
      }
 
      .page-nav{
        color: #fff;
        float:right;
      }
 
      .page-nav ul, .page-nav li{
        list-style:none;
        margin:0;
        padding: 0;
        float: left;
      }
 

 
 
      /************************
        MAIN CONTENTS
      ************************/
 
      .page-contents{
        padding:0 1em;
        max-width: 650px;
        margin:auto;
      }